*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

form{
    max-width: 500px;
    margin: 0 auto;
    background-color: #C5C5C5D5;
    padding: 40px;
    border-radius: 10px;
    font-size: 18px;
}

label, input, textarea{
    display: block;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 10px;
}

button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #1a4867;
}